                       <div class="card text-white cardIndex">
                            <img class="card-img-top img-fluid" src="{% static 'core/images/CardBlackWidow1.jpg'%}" alt="Black Widow">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle imagen_central" src="{% static 'core/images/fondoIndex7.jpg'%}" alt="Imagen central" width="100px" height="100px">
                            </div>
                            <div class=" card-body">
                                <ul class="list-group border border-danger bg-dark text-white ">
                                    <li class="list-group-item bg-dark "><strong> Nombre real:  </strong><span class="float-right "> Natasha Romanoff</span> </li>
                                    <li class="list-group-item bg-dark "><strong> Alias:  </strong><span class="float-right ">Black Widow</span> </li>
                                    <li class="list-group-item bg-dark "><strong> Superpoder:  </strong> <span class="float-right ">Agilidad sobrehumana </span></li>
                                    <li class="list-group-item bg-dark "><strong>1er Cómic:</strong> <span class="float-right "> <a href="https://www.marvel.com/comics/characters/1009189/black_widow " target="_blank "> Black  Widow:
                                            Deadly Origin</a></span></li>
                                    </li>
                                    <li class="list-group-item bg-dark "><strong>1er Película MCU:</strong> <span class="float-right "> <a > Black Widow (Próximamente)</a></span></li>
                                    <li class="list-group-item bg-dark "><strong> Raza:</strong><span class="float-right ">Humano</span> </li>
                                    <li class="list-group-item bg-dark "><strong> Estado:   </strong><span class="float-right ">Muerto <i class="fas fa-skull-crossbones text-danger "></i></span> </li>
                                </ul>
                            </div>
                            <div class="card-footer text-center">
                                <div class="btn-group">
                                    <a href="widow" target="_self">
                                        <button type="button" class="btn btn-dark text-white" style="border: 2px solid white;">Más info</button>
                                    </a>
                                    <a href="https://marvelcinematicuniverse.fandom.com/es/wiki/Natalia_Romanoff" target="_blank">
                                        <button type="button" class="btn btn-dark text-white" style="border: 2px solid white" ;>
                                            Wiki    
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>