{% extends 'core/base.html'%} 

{% block bgImage %}
bg-image-ironman
{% endblock bgImage %}

{% block nombre%}Tony Stark{% endblock %}
{% block alias%}Ironman{% endblock %}
{% block superpoder%}Dinero{% endblock %} 
{% block comic%}1er Comic Ironman{% endblock %} 
{% block peli%}Ironman 2008{% endblock %}
{% block raza%}Humano{% endblock %}
{% block estado %}Muerto{% endblock %}

{% block urlComic %}
https://es.wikipedia.org/wiki/Tales_of_Suspense
{% endblock urlComic %}

{% block urlPelicula %}
https://es.wikipedia.org/wiki/Iron_Man_(película)
{% endblock urlPelicula %}

{% block biografia %}
 El paso de pasar de empresario millonario a llevar una doble vida como superhéroe se produce a causa del secuestro que sufre Stark y de una enorme herida que le causa una bala en su pecho; sus secuestradores lo obligan
 a que construya un arma de destrucción masiva pero el decide construir una poderosa armadura de hierro para sí mismo y en la cual se introducirá para salvarse. A partir de ese entonces y tras zafar de su muerte, Tony,
  decide convertirse en Hombre de Hierro para proteger al mundo de los malhechores.
  En los últimos años, este superhéroe que se parece bastante a Batman pero que a rigor de verdad jamás logró su popularidad en el cómic, le emparda bastante en el cine gracias a las superproducciones que lo tienen como protagonista.
{% endblock biografia %}

{% block fuerza %}70%
{% endblock fuerza %}
{% block fuerzaProgress %}70%
{% endblock fuerzaProgress %}

{% block inteligencia %}97%
{% endblock inteligencia %}
{% block inteligenciaProgress %}97%
{% endblock inteligenciaProgress %}

{% block agilidad %}88%
{% endblock agilidad %}
{% block agilidadProgress %}88%
{% endblock agilidadProgress %}

{% block resistencia %}80%
{% endblock resistencia %}
{% block resistenciaProgress %}80%
{% endblock resistenciaProgress %}


{% block urlLogo %}
{% load static %}
{% static 'core/images/ironmanLogo.png'%}
{% endblock urlLogo %}

{% block urlIcon %}
{% load static %}
{% static 'core/images/ironmanIcon.png'%}
{% endblock urlIcon %}


