{% extends 'core/base.html'%} 

{% block bgImage %}
bg-image-Thor
{% endblock bgImage %}

{% block nombre%}Thor Odinson{% endblock %}
{% block alias%}Dios del Trueno{% endblock %}
{% block superpoder%}Dios{% endblock %} 
{% block comic%}Journey into Mistery #83{% endblock %} 
{% block peli%}Thor{% endblock %}
{% block raza%}Asgardiano{% endblock %}
{% block estado %}Vivo{% endblock %}

{% block urlComic %}
https://www.marvel.com/comics/issue/9779/journey_into_mystery_1952_83
{% endblock urlComic %}

{% block urlPelicula %}
https://www.disneyplus.com/es-419/movies/marvel-studios-thor/1p4vdKzTuhzr
{% endblock urlPelicula %}

{% block biografia %}
                            <p class="text-white">Perteneciente a Marvel Comics, Thor hace su primera aparición en el Comics "Journey into Mistery #83" en el año 1962, creado por el dibujante Jack Kirby, el editor Stan Lee y el guionista Larry Lieber, basándose en la mitología
                                nórdica.
                            <br>
                            Thor aparece por primera vez en el Universo Cinematográfico de Marvel el 2011, siendo esta la cuarta entrega del MCU. Posee 3 películas propias, y se espera una cuarta entrega. Además ha participado en otras 5 películas del MCU. <br>
                            <h5 style="text-align: center; color:white;">Datos Curiosos</h5>
                            <ul style="color:white;">
                                <li>Capitán América, Wonderman, Tormenta, Rouge, Hércules, Visión, Brta Rey Bill y hasta Superman y La Mujer Maravilla han podido levantar el Mjolnir.</li>
                                <li>Thor iba a estar basado en el Panteón Griego. Finalmente Stan Lee decidió hacer el giro hacia la mitología nórdica </li>
                                <li>De acuerdo con la mitología nórdica, Thor y los otros dioses de Asgard obtuvieron su inmortalidad al comer las Manzanas Mágicas Doradas de Idunn, que crecen en Asgard y solo pueden ser recogidas por la diosa Idunn.</li>
                                <li>El Mjolnir no es la única arma de Thor. Su “Cinturón de la fuerza” encantado es también un elemento importante de su arsenal, ya que aumenta su fuerza para casi duplicar su nivel.</li>
                                <li>Todo se debe a la influencia de su madre: Gaea. En los comics, Gaea es la personificación femenina de la Tierra.</li>
                            </ul>
{% endblock biografia %}

{% block fuerza %}99%
{% endblock fuerza %}
{% block fuerzaProgress %}99%
{% endblock fuerzaProgress %}

{% block inteligencia %}60%
{% endblock inteligencia %}
{% block inteligenciaProgress %}60%
{% endblock inteligenciaProgress %}

{% block agilidad %}88%
{% endblock agilidad %}
{% block agilidadProgress %}88%
{% endblock agilidadProgress %}

{% block resistencia %}95%
{% endblock resistencia %}
{% block resistenciaProgress %}95%
{% endblock resistenciaProgress %}


{% block urlLogo %}
{% load static %}
{% static 'core/images/Thor-logo-2.png'%}
{% endblock urlLogo %}

{% block urlIcon %}
{% load static %}
{% static 'core/images/logo_mart.png'%}
{% endblock urlIcon %}

