{% extends 'core/base.html'%} 

{% block bgImage %}
bg-image-viudanegra
{% endblock bgImage %}

{% block nombre%}Natalia Alianovna Romanova (Natasha Romanoff){% endblock %}
{% block alias%}Black Widow{% endblock %}
{% block superpoder%}Super Agilidad{% endblock %} 
{% block comic%}Black Widow:Deadly Origins{% endblock %} 
{% block peli%}Black Widow (Próximamente){% endblock %}
{% block raza%}Humano{% endblock %}
{% block estado %}Muerta{% endblock %}

{% block urlComic %}
https://www.marvel.com/comics/characters/1009189/black_widow
{% endblock urlComic %}

{% block urlPelicula %}
{% endblock urlPelicula %}

{% block biografia %}
 <div class="card-body text-justify ">
     <small>
             <p class="text-white ">Natasha nació en una época de plena revolución, ella ha vivido lo suficiente como para ver los horrores de la humanidad. Creció para volverse una herramienta de espionaje y un arma humana. Sometida a un entrenamiento y tratamiento que la llevo al pináculo de la perfección física, Natasha con el tiempo se ha convertido en la mejor espía del mundo y una de las mujeres más letales en el Universo Marvel.</p>
            </small>
     <small>
             <p class="text-white ">Durante años estuvo en la escena social europea, robando brillante tecnología para sus jefes soviéticos, fue entonces cuando Natasha fue encargada de sabotear y robar la tecnología de Tony Stark (Iron-Man). Natasha entraría así de este modo al mundo de los superhéroes americanos, también manipulando y enamorando a Hawkeye, aunque con problemas la pareja seguiría cuando este se hizo miembro de Los Vengadores.</p>
            </small>
 </div>
{% endblock biografia %}

{% block fuerza %}90%
{% endblock fuerza %}
{% block fuerzaProgress %}90%
{% endblock fuerzaProgress %}

{% block inteligencia %}86%
{% endblock inteligencia %}
{% block inteligenciaProgress %}86%
{% endblock inteligenciaProgress %}

{% block agilidad %}88%
{% endblock agilidad %}
{% block agilidadProgress %}88%
{% endblock agilidadProgress %}

{% block resistencia %}75%
{% endblock resistencia %}
{% block resistenciaProgress %}75%
{% endblock resistenciaProgress %}


{% block urlLogo %}
{% load static %}
{% static 'core/images/Black_Widow_logo.png'%}
{% endblock urlLogo %}

{% block urlIcon %}
{% load static %}
{% static 'core/images/iconViu.png'%}
{% endblock urlIcon %}
